body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: white;
}
.container{
    width: 80%;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: white;
    padding-top: 40px;
    min-height: 70px;
    border-bottom: 1px solid black;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    display: inline;
    padding: 0px 20px;
}

header .highlight{
    color: #00d4ff;
}

header a:hover{
    color:#090979
}


header .branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 28px;
}

#showcase .container{
    min-height: 400px;
    background-image: url(./Images/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -210px;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
}

#showcase .container h1{
    font-size: 35px;
    margin: 0px;
    padding-top: 20px;
}

#showcase .container p{
    font-size: 15px;
}

#boxes .container{
    margin-top: 20px;
    width:100%
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;   
    padding: 5px;
    min-height: 300px;
}

#boxes .box img{
    width: 90px;
}

footer{
    padding: 10px;
    margin-top: 20px;
    height: 20px;
    color: #ffffff;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-top: 2px;
}

aside  #sidebar{
    float: right;
    width: 30%;
margin-top: 10px;
}

article #main-col{
float: left;
width: 65%;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: white;
    margin: 10px 0px;

}

ul#sevices{
    list-style: none;
    padding: 10px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
aside#sidebar .quote input, aside #sidebar .quote textarea{
width: 90%;
padding: 5px;
}

.button_1{
    height: 30px;
    background: white;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: #35424a;
}

@media(max-width: 768px) {
    header #branding
    header nav,
    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }

    header nav{
        margin-top: 20px;
    }
}
